Repository MusicDigging/Mudig_FE, pull requests merged in 2023-11, with the labels that each got.

#7 Feature/login
  .eslintrc.js
  package-lock.json
  package.json
  src/App.js
  src/components/common/Button/Button.jsx
  src/components/common/Form/AuthForm.jsx
  src/components/common/Input/AuthInput.jsx
  src/components/common/Input/Input.jsx
  src/hooks/ussPasswordToggle.jsx
  src/img/google-icon.svg
  src/img/hidePw-icon.svg
  src/img/kakao-icon.svg
  src/img/showPw-Icon.svg
  src/pages/Login/Login.jsx
Labels: ✨ Feat, 🎨 Style, [FE] 윤서준

#17 Feature/login
  src/components/common/Form/AuthForm.jsx
  src/components/common/Input/AuthInput.jsx
  src/pages/Login/Login.jsx
Labels: 🎨 Style, [FE] 윤서준

#20 프로필 페이지 UI 구현
  src/App.js
  src/components/Profile/MainPlayListSection.jsx
  src/components/Profile/PlayListSection.jsx
  src/components/Profile/ProfileImage.jsx
  src/components/Profile/ProfileSection.jsx
  src/components/common/Image/Image.jsx
  src/components/common/PlayList/PlayList.jsx
  src/components/common/PlayList/PlayListItem.jsx
  src/img/play-icon-white.svg
  src/img/play-icon.svg
  src/img/profile-deco-img.svg
  src/img/vinyl-record-img.svg
  src/pages/Profile/MyProfile.jsx
  src/pages/Profile/OtherProfile.jsx
  src/pages/Profile/ProfileStyle.jsx
  src/styles/GlobalStyle.jsx
Labels: 🎨 Style, [FE] 차다연

#23 회원가입 페이지 코드리뷰 내역 수정완료
  package-lock.json
  package.json
  src/App.js
  src/components/common/Button/Button.jsx
  src/components/common/Form/SignupForm.jsx
  src/components/common/Input/SignupInput.jsx
  src/pages/Signup/Signup.jsx
  src/pages/Signup/SignupDetail.jsx
  src/pages/Signup/SignupStyle.jsx
  src/styles/GlobalStyle.jsx
Labels: 🐞 Fix, 🎨 Style, [FE] 윤서준

#24 프로필 설정 페이지 UI 디자인 작업 완료
  package-lock.json
  package.json
  src/components/common/Button/Button.jsx
  src/components/common/Chip.jsx
  src/components/common/Input/ProfileInput.jsx
  src/img/selectImg.svg
  src/library/ImgCompression.js
  src/pages/SetProfile/SetProfile.jsx
  src/styles/GlobalStyle.jsx
Labels: ✨ Feat, 🎨 Style, [FE] 윤서준

#29 비밀번호 변경 &회원탈퇴 UI 구현
  src/components/common/Form/AuthForm.jsx
  src/components/common/Form/SignupForm.jsx
  src/components/common/Input/AuthInput.jsx
  src/components/common/Input/SignupInput.jsx
  src/hooks/ussPasswordToggle.jsx
  src/pages/UserInfo/ChangePassword.jsx
  src/pages/UserInfo/ChangePwForm.jsx
  src/pages/UserInfo/UserLeave.jsx
  src/pages/UserInfo/UserLeaveForm.jsx
Labels: 🎨 Style, [FE] 윤서준

#34 검색 페이지 UI 구현
  src/components/Search/RecentSearch.jsx
  src/components/common/Search/Search.jsx
  src/img/close-icon.svg
  src/img/more-icon.svg
  src/img/playlist-test-img.png
  src/img/right-arrow-icon.svg
  src/img/search-icon.svg
  src/img/time-past-icon.svg
  src/pages/Search/Search.jsx
  src/pages/Search/SearchResult.jsx
  src/pages/Search/SearchResultStyle.jsx
  src/pages/Search/SearchStyle.jsx
  src/routes/Router.jsx
Labels: 🎨 Style, [FE] 이지수

#37 로그인/회원가입/프로필설정 최종 디자인 확인작업
  src/components/common/Form/AuthForm.jsx
  src/components/common/Input/SignupInput.jsx
  src/pages/Login/Login.jsx
  src/pages/SetProfile/SetProfile.jsx
  src/pages/Signup/Signup.jsx
  src/pages/Signup/SignupDetail.jsx
  src/pages/Signup/SignupStyle.jsx
  src/routes/Router.jsx
Labels: 🎨 Style, [FE] 윤서준

#39 플리 생성 페이지 UI 수정
  src/img/character-img.svg
  src/img/character-img2.svg
  src/img/character-img3.svg
  src/img/character-img4.svg
  src/pages/NewPlaylist/Create/CreateNewPlaylist1.jsx
  src/pages/NewPlaylist/Create/CreateNewPlaylist2.jsx
  src/pages/NewPlaylist/Create/CreateNewPlaylist3.jsx
  src/pages/NewPlaylist/Create/CreateNewPlaylistStyle.jsx
  src/routes/Router.jsx
Labels: 🎨 Style, [FE] 차다연

#40 랜덤 뮤비 페이지 UI구현 #31
  package-lock.json
  package.json
  src/components/RandomMv/VideoInfo.jsx
  src/components/RandomMv/VideoPlayer.jsx
  src/img/add-icon.svg
  src/pages/RandomMusic/RandomMusic.jsx
  src/routes/Router.jsx
Labels: 🎨 Style, [FE] 윤서준

#41 인트로 페이지 UI 구현
  src/img/google-gray-icon.svg
  src/pages/Home/Home.jsx
  src/pages/Home/Intro.jsx
  src/routes/Router.jsx
  src/styles/GlobalStyle.jsx
Labels: 🎨 Style, [FE] 윤서준

#47 생성 로딩 구현
  src/components/Loading/Loading.jsx
  src/img/loading-circle.svg
  src/img/loading-mudig.svg
  src/pages/NewPlaylist/Create/CreateNewPlaylist1.jsx
Labels: 🎨 Style, [FE] 이지수

#48 프로필 & 프로필 수정 페이지 UI 수정
  src/App.js
  src/components/Profile/MainPlayListSection.jsx
  src/components/Profile/PlayListSection.jsx
  src/components/Profile/ProfileSection.jsx
  src/components/common/Input/ProfileInput.jsx
  src/components/common/Modal/MiniModal.jsx
  src/img/note-icon.svg
  src/pages/Profile/ProfileStyle.jsx
  src/pages/SetProfile/SetProfile.jsx
  src/routes/Router.jsx
  src/styles/GlobalStyle.jsx
Labels: 🎨 Style, [FE] 차다연
